# Comprehensive Introduction to pandas

This notebook introduces the pandas library, focusing on data manipulation using Series and DataFrame. It includes data loading, inspection, cleaning, transformation, and aggregation, along with exercises.

In [3]:
import pandas as pd
import numpy as np

## Series Basics

In [ ]:
# Creating a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

# Accessing elements
print("Element at index 'b':", s['b'])

## DataFrame Basics

In [4]:
# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [24, 27, 22, 32],
        'Score': [85, 90, 78, 88]}
print(data)

df = pd.DataFrame(data)
print(df)

{'Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [24, 27, 22, 32], 'Score': [85, 90, 78, 88]}
      Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     78
3    David   32     88

## Data Inspection

In [5]:
print("Head of DataFrame:")
print(df.head(2))

print("DataFrame info:")
print(df.info())

print("Statistical summary:")
print(df.describe())

Head of DataFrame:
    Name  Age  Score
0  Alice   24     85
1    Bob   27     90
DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None
Statistical summary:
             Age      Score
count   4.000000   4.000000
mean   26.250000  85.250000
std     4.349329   5.251984
min    22.000000  78.000000
25%    23.500000  83.250000
50%    25.500000  86.500000
75%    28.250000  88.500000
max    32.000000  90.000000

In [10]:
df01 = pd.read_csv('DATA01.csv')
print(df01.head(3))
print(df01.describe())

     Â≠¶Á±çÁï™Âè∑  Ë∫´Èï∑(cm)  ‰ΩìÈáç(kg)
0  161111     172      59
1  161112     166      58
2  161113     164      65
               Â≠¶Á±çÁï™Âè∑      Ë∫´Èï∑(cm)     ‰ΩìÈáç(kg)
count      50.00000   50.000000  50.000000
mean   161135.50000  165.160000  60.680000
std        14.57738   12.734911  12.115835
min    161111.00000  143.000000  33.000000
25%    161123.25000  156.250000  52.250000
50%    161135.50000  164.000000  59.500000
75%    161147.75000  174.500000  68.750000
max    161160.00000  198.000000  87.000000

In [8]:
df01 = pd.read_csv('./DATA01.csv')
df02 = pd.read_csv('./CAPM02.csv',skiprows=1)

In [9]:
print(df02.head)

<bound method NDFrame.head of     Unnamed: 0     NTT  NIKKEI     NTT.1  NIKKEI.1  Unnamed: 5
0         12.0     NaN     NaN  479000.0    9174.0         NaN
1          1.0 -0.0872 -0.0516  439000.0    8713.0         NaN
2          2.0 -0.0930 -0.0247  400000.0    8500.0         NaN
3          3.0  0.0793 -0.0012  433000.0    8490.0         NaN
4          4.0 -0.0546 -0.0612  410000.0    7986.0         NaN
5          5.0  0.0145 -0.0155  416000.0    7863.0         NaN
6          6.0  0.0470  0.0834  436000.0    8547.0         NaN
7          7.0  0.0961  0.0821  480000.0    9278.0         NaN
8          8.0  0.0328  0.0353  496000.0    9611.0         NaN
9          9.0  0.0738  0.1045  534000.0   10670.0         NaN
10        10.0 -0.0618 -0.0294  502000.0   10361.0         NaN
11        11.0 -0.0242  0.0458  490000.0   10847.0         NaN
12        12.0  0.0916 -0.0418  537000.0   10403.0         NaN
13         NaN     NaN     NaN       NaN       NaN         NaN>

In [ ]:
%%sql

## Indexing and Selection

In [21]:
# Selecting a column
# print("Name column:")
print(df01['Ë∫´Èï∑(cm)'])

# Selecting rows using loc and iloc
print("Row with index 1 using loc:")
print(df01.loc[0:3])
print("Row at position 2 using iloc:")
print(df01.iloc[2:5,1:3])
print(df01)

0     172
1     166
2     164
3     175
4     149
5     144
6     161
7     159
8     172
9     167
10    166
11    187
12    179
13    177
14    198
15    152
16    169
17    159
18    164
19    163
20    178
21    143
22    173
23    145
24    153
25    164
26    177
27    164
28    166
29    175
30    166
31    153
32    165
33    152
34    156
35    189
36    147
37    163
38    159
39    150
40    157
41    145
42    176
43    179
44    161
45    190
46    171
47    155
48    163
49    180
Name: Ë∫´Èï∑(cm), dtype: int64
Row with index 1 using loc:
     Â≠¶Á±çÁï™Âè∑  Ë∫´Èï∑(cm)  ‰ΩìÈáç(kg)
0  161111     172      59
1  161112     166      58
2  161113     164      65
3  161114     175      73
Row at position 2 using iloc:
   Ë∫´Èï∑(cm)  ‰ΩìÈáç(kg)
2     164      65
3     175      73
4     149      41
      Â≠¶Á±çÁï™Âè∑  Ë∫´Èï∑(cm)  ‰ΩìÈáç(kg)
0   161111     172      59
1   161112     166      58
2   161113     164      65
3   161114     175      73
4   161115     149      41
5   161116     144      48
6   161117     161      63
7   161118     159      56
8   161119     172      63
9   161120     167      57
10  161121     166      52
11  161122     187      80
12  161123     179      65
13  161124     177      68
14  161125     198      75
15  161126     152      72
16  161127     169      69
17  161128     159      75
18  161129     164      60
19  161130     163      62
20  161131     178      63
21  161132     143      61
22  161133     173      78
23  161134     145      52
24  161135     153      47
25  161136     164      72
26  161137     177      59
27  161138     164      66
28  161139     166      57
29  161140     175      65
30  161141     166      55
31  161142     153      55
32  161143     165      52
33  161144     152      51
34  161145     156      53
35  161146     189      87
36  161147     147      41
37  161148     163      51
38  161149     159      54
39  161150     150      50
40  161151     157      43
41  161152     145      33
42  161153     176      82
43  161154     179      74
44  161155     161      54
45  161156     190      82
46  161157     171      66
47  161158     155      55
48  161159     163      40
49  161160     180      75

}## Data Filtering

In [ ]:
# Filtering rows
print("Rows with Age > 25:")
print(df[df['Age'] > 25])

## Adding and Modifying Columns

In [ ]:
# Add a new column
df['Passed'] = df['Score'] >= 80
print(df)

## Sorting and Ranking

In [ ]:
# Sort by Age
print("Sorted by Age:")
print(df.sort_values(by='Age'))

## GroupBy and Aggregation

In [ ]:
# Sample dataset
data2 = {'Department': ['HR', 'IT', 'HR', 'Finance'],
         'Salary': [4000, 6000, 4200, 5200]}
df2 = pd.DataFrame(data2)

# Group by Department
print(df2.groupby('Department').mean())

## Handling Missing Data

In [ ]:
df3 = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8]
})

print("Original DataFrame:")
print(df3)

print("Fill missing values with 0:")
print(df3.fillna(0))

print("Drop rows with missing values:")
print(df3.dropna())

## File Input/Output

In [ ]:
# Write to CSV
df.to_csv('students.csv', index=False)

# Read from CSV
df_loaded = pd.read_csv('students.csv')
print("Loaded DataFrame:")
print(df_loaded)

## üìù Practice Exercises

### Exercise 1
Create a DataFrame with information about 5 products (name, price, quantity). Then:
- Add a column for total value (price √ó quantity)
- Find the average price
- Sort the products by quantity descending

### Exercise 2
Load a CSV file of your choice (e.g., a dataset from Kaggle).
- Display the first 10 rows
- Check for missing values
- Show summary statistics of numeric columns

### Exercise 3
Create a DataFrame representing sales data by region.
- Group by region and compute total sales
- Filter to show only regions with total sales > 10,000
- Export the filtered DataFrame to CSV